div {
    background-color: #F1E4C3;
    width: auto;
    height: 600px;
    margin: 20px;
    padding: 10px;
    font-family: Ariel, sans-serif;
}
h1 {
  color:#444035 ;text-align:center;font-size: 50px;font-weight: bold;
  border: 8px solid blue;
    }
p  {
  color:#9e5050;text-align:center;font-size: 50px;font-weight: bold;
    }
