div {
    background-color: teal;
    width: auto;
    height: 600px;
    margin: 20px;
    padding: 10px;
    font-family: Ariel, sans-serif;
}
h1 {
  color:blue;text-align:center;font-size: 28px;
    }
p  {
  color:#806070;text-align:center;font-size: 22px;
    }
